/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
}

.inner-container {
  margin-top:30px;
	padding-bottom:30px;
	border:2px solid black;
}

hr {
  border-top:1px solid black;
}

.footer {
	margin-top: 10px;
	text-align:center;
}

.footer a {
	color: #2B7A78;
}

.upload-custom {
  border:2px dashed #F9BA32;
}

input[type='file'] {
  padding:80px 80px;
  cursor:pointer;
  width:100%;
  text-align:center;
}
input[type='file']:focus {
  outline-width: 0;
}
input[type='submit'] {
  width:100%;
  color:white;
  background-color:#2B7A78;
  border:0;
  padding:10px;
}


